@{
    ViewData["Title"] = "Adminka";
    Layout = "~/Views/Shared/_Layout_adminka.cshtml";
}

<style>
    ._input {
        width: 25%;
        min-width: 200px;
        border-color: #ff0000;
        margin-bottom: 1%;
    }
</style>


<div class="text-center">
    <h1 class="display-4">Добро пожаловать в админку</h1>
</div>


<partial name="PV_LoadVectors" model="new AdminPanelModel.LoadVectorsModel()" />

<partial name="PV_AddEmployee" model="new AdminPanelModel.EmployeeModel()" />

<partial name="PV_AskVectorById" model="new AdminPanelModel.FaceEncodingsModel()" />






