<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ЛК</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/student_marking_system.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <div id="grid-container">

            @if (UserInfo.UserLogin == "admin_msun")
            {
                <h1 id="ttl">Панель администратора</h1>
            }
            else
            {
                <h1 id="ttl">Панель преподавателя</h1>
            }

            <div id="fio"><p>@UserInfo.UserFullName</p></div>

            @if (!UserInfo.IsLesson)
            {
                <div id="btn">
                    <form asp-action="LogOut" asp-controller="Account" asp-anti-forgery="true">
                        <input class="btn btn-logout-theme" type="submit" value="Выйти" />
                    </form>
                </div>
            }
            
        </div>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="footer text-muted">
        <div class="container">
            &copy; 2024, Карпенко Дмитрий Александрович 214.41
        </div>
    </footer> 
    

</body>
</html>
