@model face_rec_test1.Models.AdminPanelModel.AddStudentModel

<div class="mt-3 page-container-center">

    <h3>Добавить учащегося</h3>

    <form asp-action="AddStudent" asp-controller="Admin" asp-anti-forgery="true" method="post">
        <div class="warning">
            <span asp-validation-for="Id"></span>
            <span asp-validation-for="Group_id"></span>
            <span asp-validation-for="Full_name"></span>
        </div>

        <div class="mt-1">
            <input placeholder="ID" class="form-control _input form_element" type="number" asp-for="Id" />
        </div>

        <div class="mt-1">
            <input placeholder="Группа" class="form-control _input form_element" type="text" asp-for="Group_id" />
        </div>

        <div class="mt-1">
            <input placeholder="ФИО" class="form-control _input form_element" type="text" asp-for="Full_name" />
        </div>

        <div class="mt-1">
            <input class="btn btn-main-theme" type="submit" value="Добавить учащегося" />
        </div>
    </form>

</div>