@model face_rec_test1.Models.AdminPanelModel.AddEmployeeModel

<div class="mt-3 page-container-center">

    <h3>Добавить сотрудника</h3>

    <form asp-action="AddEmployee" asp-controller="Admin" asp-anti-forgery="true" method="post">
        <div class="warning">
            <span asp-validation-for="Login"></span> 
            <span asp-validation-for="Password"></span> 
            <span asp-validation-for="Full_name"></span>
        </div>

        <div class="mt-1">
            <input placeholder="Логин" class="form-control _input form_element" type="text" asp-for="Login" />
        </div>

        <div class="mt-1">
            <input placeholder="Пароль" class="form-control _input form_element" type="text" asp-for="Password" />
        </div>

        <div class="mt-1">
            <input placeholder="ФИО (не обязательно)" class="form-control _input form_element" type="text" asp-for="Full_name" />
        </div>

        <div class="mt-1">
            <input class="btn btn-main-theme" type="submit" value="Добавить сотрудника" />
        </div> 
    </form>

</div>