@model face_rec_test1.Models.AdminPanelModel.FaceEncodingsModel

<div>
    <h3>Векторы:</h3>

    <form asp-action="GetVectorsById" asp-controller="Admin" asp-anti-forgery="true" method="get">

        <div>
            <input placeholder="ID студента" class="form-control _input" type="number" asp-for="Student_id" />
            <span asp-validation-for="Student_id"></span>
        </div>

        <div>
            <input class="mt-1" type="submit" value="Получить векторы" />
        </div>

    </form>

</div>