@model face_rec_test1.Models.AdminPanelModel.LoadVectorsModel

<div class="mt-3 page-container-center">

    <h3>Добавить лица учеников</h3>
    <p style="color: black;">Формат: папка > группы > id > фото(3)</p>

    <form asp-action="LoadVectors" asp-controller="Admin" asp-anti-forgery="true" method="post">
        <div class="warning">
            <span asp-validation-for="FolderPath"></span>
        </div>

        <div class="mt-1">
            <input placeholder="Путь до папки" class="form-control _input form_element" type="text" asp-for="FolderPath" />
        </div>

        <div class="mt-1">
            <input class="btn btn-main-theme" type="submit" value="Загрузить векторы лиц" />
        </div>
    </form>

</div>
