@model face_rec_test1.Models.TeacherPanelModel.TeacherGetStudentsModel

<div class="center">
    <form asp-action="LessonStart" asp-controller="Home" asp-anti-forgery="true" method="post">
        <div class="warning">
            <span asp-validation-for="Subject"></span>
            <span asp-validation-for="Group_id"></span>
        </div>

        <div class="mt-3">
            <label asp-for="Subject">Выберите предмет:</label>
            <select id="Subject" class="form-control _input form_element" asp-for="Subject" asp-items="@(new SelectList(UserInfo.Subjects))">
                <option></option>
            </select>
        </div>

        <div class="mt-3">
            <label asp-for="Group_id">Выберите группу:</label>
            <select id="Group_id" class="form-control _input form_element" asp-for="Group_id"></select>
        </div>

        <div class="mt-3">
            <input class="btn btn-main-theme form_element" type="submit" value="Начать занятие" />
        </div>
    </form>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script>

    $('#Subject').change(function () {
        var _subject = $('#Subject').val();
        var items = '<option></option>';

        $.ajax({
            type: "POST",
            url: "/Home/GetGroups",
            data: { subject: _subject },
            dataType: "json",
            success: function (data) {
                $.each(data, function (k, option) {
                    items += "<option value = '" + option + "'>" + option + " </option>";
                });
                $('#Group_id').html(items);
            }
        });
    });

</script>