@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout_login.cshtml";
}

<style>



</style>

@model face_rec_test1.Models.LoginModel

<div class="center">
    <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true" method="post">
        <div asp-validation-summary="ModelOnly"></div>

        <div>
            <span class="warning" asp-validation-for="Login"></span>
            <br />
            <span class="warning" asp-validation-for="Password"></span>
        </div>

        <div class ="mt-3">
            <input placeholder="Логин" class="form-control _input form_element" type="text" asp-for="Login" />
        </div>

        <div class="mt-3">
            <input placeholder="Пароль" class="form-control _input form_element" typr="password" asp-for="Password" />
        </div>

        <div class="mt-3">
            <input class="btn btn-main-theme form_element" type="submit" value="Войти" />
        </div>
    </form>
</div>



@section scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

