html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  box-sizing: border-box;
  margin-bottom: 60px;
}

.header {
    background-color: #3b4f6f;
}

.form_element {
    width: 30%;
    min-width: 200px;
}

._input {
    border-color: #3b4f6f;
    border-width: 2px;
}

.center {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.warning {
    color: #ff6666;
    font-weight: 500;
}

.header h1 {
    color: whitesmoke;
}

.btn-main-theme {
    color: #fff;
    background-color: #3b4f6f;
    border-color: #3b4f6f;
}

.btn-main-theme:hover {
    color: #fff;
    background-color: #399be2;
    border-color: #399be2;
}